<div class="container">

  <br/><br/>

  <%= bootstrap_form_for(change) do |f| %>

      <div class="row">
        <div class="col-sm-5">
          <%= f.text_field :name, label: 'Change name' %>
        </div>
        <div class="col-sm-5">

          <%= f.fields_for :project_attributes, @change.project do |c| %>
              <%= c.number_field :id, label: 'Project (ID):' %>
          <% end %>


        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">


          <%= f.fields_for :owner_attributes, @change.owner do |c| %>
              <%= c.number_field :id, label: 'Owner (ID):' %>
          <% end %>


        </div>
        <div class="col-sm-3">
          <%= f.datetime_local_field(:implementation_date) %>
        </div>
      </div>


      <%= f.text_area :description, label: 'Change Desription' %>

<%= puts '!!!!!!!!!!!!!!!!!!'	  %>
      <%= puts @change.errors.inspect %>
      <%= f.submit %>

  <% end %>

</div>

