
<%= render partial: 'landing/page_header', locals: {object: @change} %>


<div class="container">


  <br/>

  <table class="table table-hover table-responsive">
    <thead>
    <tr>
      <th>#</th>
      <th>Action</th>
      <th>Status</th>
      <th>Log</th>
      <th>Assigned to</th>
    </tr>
    </thead>

    <tbody>
    <% @steps.each do |step| %>
        <tr>
          <td><strong><%= link_to step.stepNo, edit_step_path(step), remote: true %></strong></td>
          <td><%= link_to step.action, edit_step_path(step), remote: true %></td>
          <td><%= link_to step.status, edit_step_path(step), remote: true, class: "label label--#{step.status}" %> </td>
          <td><%= link_to "<span class='badge alert-info'>#{step.logs.count}</span>".html_safe, step %></td>
          <td><%= link_to step.assignedTo.name, step.assignedTo %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<div class="js-edit-modal"></div>

