<% present object do |object_presenter| %>


    <div class="show-action-header" %>
      <div class="container">
        <h2> <%= object_presenter.title %>   </h2>
        <h5> &emsp;<%= object_presenter.sub_title %> </h5>
        <hr/>
        <div class="row">
          <div class="col-sm-10">
            <%= object_presenter.print_links %>
          </div>
          <div class="col-sm-2">
            <div class="dropdown pull-right">
              <button class="btn btn-primary btn-primary--power-menu dropdown-toggle" type="button" data-toggle="dropdown">power
                menu
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>


    <% if object_presenter.errors.any? %>
        <div class="error_explanation" style="margin-top: 0px;">
          <div class="container">
            <%= pluralize(object_presenter.errors.count, "error") %> prohibited this project from being saved.
          </div>
        </div>

        <div class="container alert alert-danger" style="margin: 10px auto; padding: 0px">
          <ul>
            <% object_presenter.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <% unless flash.notice.nil? %>
        <div class="notice">
          <div class="container">
            <% flash.each do |name, msg| %>
                <%= msg %>
                <br/>
            <% end %>
          </div>
        </div>
    <% end %>


    <div class="container">
      <ol class="breadcrumb breadcrumb--larger">
        <%= object_presenter.print_breadcrumb %>
      </ol>
    </div>


<% end %>
