<div class="show-action-header" %>
  <div class="container">

    <h2> AuTomato Dashboard </h2>
    <h5> &emsp; Running on <%= Rails.env %> mode. Version 1.2.1 </h5>

    <hr/>
    <%= link_to '<i class="glyphicon glyphicon-plus">  </i> New Project'.html_safe, new_project_path, style: 'color: white'; %>
    &ensp; | &ensp;
    <%= link_to '<i class="glyphicon glyphicon-refresh">  </i> New Change'.html_safe, new_change_path, style: 'color: white'; %>

  </div>
</div>

<%= render 'layouts/messages' %>


<div class="container">

  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          <h3 class="panel-title">Next in calendar ... </h3>
        </div>
        <div class="panel-body">

          <table class="table table-hover table-responsive">
            <thead>
            <tr>
              <th>Change name</th>
              <th>Owner</th>
              <th>Project</th>
              <th>Implementation date</th>
            </tr>
            </thead>

            <tbody>
            <% @changes_calendar.each do |change| %>
                <tr>
                  <td><%= link_to change.name, change %> </td>
                  <td><%= link_to change.owner.name, change.owner unless change.owner.nil? %> </td>
                  <td><%= link_to change.project.name, change.project %> </td>
                  <% unless change.implementation_date.nil? %>
                      <td><%= link_to change.print_implementation_date, change %> </td>
                  <% else %>
                      <td> Earliest Convenience</td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>

          </table>
          <%= will_paginate @changes_calendar %>

        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Projects</h3>
        </div>
        <div class="panel-body">

          <table class="table table-hover table-responsive">
            <thead>
            <tr>
              <th>Project name</th>
              <th>Description</th>
              <th>Members</th>
            </tr>
            </thead>
            <tbody>
            <% @projects.each do |project| %>
                <tr>
                  <td><%= link_to project.name, project %> </td>
                  <td><%= project.description %></td>
                  <td>
                    <% project.members.each do |mb| %>
                        <%= link_to mb.name, mb %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Changes</h3>
        </div>
        <div class="panel-body">

          <table class="table table-hover table-responsive">
            <thead>
            <tr>
              <th>Change name</th>
              <th>Owner</th>
              <th>Project</th>
            </tr>
            </thead>

            <tbody>
            <% @changes.each do |change| %>
                <tr>
                  <td><%= link_to change.name, change %> </td>
                  <td><%= link_to change.owner.name, change.owner unless change.owner.nil? %> </td>
                  <td><%= link_to change.project.name, change.project %> </td>
                </tr>
            <% end %>

            </tbody>
          </table>

        </div>
      </div>
    </div>


  </div>
</div>




