<p id="notice"><%= notice %></p>

<h1>Step Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @step_statuses.each do |step_status| %>
      <tr>
        <td><%= step_status.name %></td>
        <td><%= link_to 'Show', step_status %></td>
        <td><%= link_to 'Edit', edit_step_status_path(step_status) %></td>
        <td><%= link_to 'Destroy', step_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step Status', new_step_status_path %>
