<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <%= bootstrap_form_for(@step) do |f| %>
            <% if @step.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

                  <ul>
                    <% @step.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <%= f.hidden_field :change_id %>

            <%= f.number_field :stepNo, label: 'Step #' %>

            <%= f.text_field :action, label: 'Action' %>


            <fieldset class="form-group">
              <hr/>
              <%= f.fields_for :assignedTo_attributes, @step.assignedTo do |c| %>
                  <%= c.number_field :id, label: 'Assigned to (ID):' %>
              <% end %>
              <hr/>
            </fieldset>


            <label>Status:</label>
            <% @step_statuses.each do |st| %>

                <label style="display: inline-block; vertical-align:middle; background-color: <%= st.color %>" >
                  <%= f.radio_button :status, st.name, label: st.name  %>
                </label>

            <% end %>

            <div class="modal-footer">
              <%= link_to 'Delete Step'.html_safe, @step, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
              <%= f.submit class: 'btn btn-success' %>
            </div>


        <% end %>
      </div>
    </div>
  </div>
</div>
